# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# AI Models
models/
*.gguf
*.bin
*.safetensors

# Vector Database
vector_store/
vector_stor/

# Chat Data
chat_history.json
*.json

# Cache
.cache/
.cache/*
.pytest_cache/

# Logs
*.log

# Uploads
uploads/
documents/

# OS
.DS_Store
Thumbs.db