body{
    background:#0f172a;
}

.gradio-container{
    max-width:1500px !important;
    margin:auto;
    background:#0f172a;
}

h1{
    color:white !important;
    font-size:42px !important;
    font-weight:700 !important;
}

h2,h3,h4{
    color:#e2e8f0 !important;
}

.gr-button{
    border-radius:14px !important;
    font-weight:bold !important;
}

.gr-button-primary{
    background:#2563eb !important;
}

.gr-button-primary:hover{
    background:#1d4ed8 !important;
}

.gr-textbox textarea{
    border-radius:14px !important;
}

.gr-chatbot{
    border-radius:18px !important;
    border:1px solid #334155 !important;
}

.gr-box{
    border-radius:18px !important;
}

footer{
    display:none !important;
}